[mysqld]

user=mysql
log_error=/mysql/data/mysql.err
lc_messages_dir=/mysql/share/
datadir=/mysql/data/

innodb_buffer_pool_size=64M
innodb_log_file_size=64M

sync_binlog=0
innodb_flush_log_at_trx_commit=2

skip-innodb_doublewrite
innodb_old_blocks_time=1000
innodb_purge_threads=1
innodb_file_per_table=1

performance_schema=off

